exports.onMessage = function(message) {
	console.log("Hello from the {{fileName}} Listener: " + message);
};

exports.onError = function(error) {
	console.error("Error from the {{fileName}} Listener: " + error);
};
